<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      DASHBOARD
    </ion-title>
    <ion-button (click)="generarPDF()">Generar PDF</ion-button>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div #container>
    <div class="seccion header">
        <h1>Dashboard</h1>
    </div>
    <div class="dashboard-content">
      <div class="seccion dashboard-charts">
        <div class="dashboard-flex">
          <div class="dashboard">
            <app-bar-chart [backgroundColorCat]="backgroundColorCategoria" [borderColorCat]="borderColorCategoria"></app-bar-chart>
          </div>
          <div class="dashboard">
              <app-pie-chart></app-pie-chart>
          </div> 
          <div class="dashboard">
            <app-line-chart></app-line-chart>
          </div>             
        </div>
      </div>
    
      

      <div class="seccion table-container">
        <app-tablas [datosTabla]="datosTablaTab1"></app-tablas>
      </div>

      <div class="seccion list-container">
        <h2>List</h2>
        <ul *ngFor="let lista of datosLista">
          <li>{{lista}}</li>
        </ul>
      </div>

      <div class="seccion table-container">
        <app-tablas [datosTabla]="datosTablaTab1"></app-tablas>
      </div>
    </div>  
  </div>
</ion-content>